/* stylelint-disable */
:root {
  --form_colors-apl-bn-tx: #ffffff;
  --form_colors-apl-op-bn: #0074d9;
  --form_colors-apl-bg-op: #111111;
  --form_colors-apl-clr-border-sz: 1;
  --form_colors-apl-op-color: #7fdbff;
  --form_colors-apl-op-bn-br: #0074d9;
  --form_colors-apl-op-clr-border: #0074d9;
  --form_colors-apl-tx-op: #aaaaaa;
  --form_colors-apl-color: #001f3f;
  --form_colors-apl-clr-border: #001f3f;
  --form_colors-apl-bn-br: #ffffff;
  --form_colors-apl-tx: #001f3f;
  --form_colors-apl-bn-br-sz: 1;
  --form_colors-apl-bg: #7fdbff;
  --form_colors-apl-bn-tx-op: #ffffff;
  --form_colors-apl-bn: #0074d9;
  --snd-apl-bn-tx: #ffffff;
  --snd-apl-op-bn: #0074d9;
  --snd-apl-bg-op: #ffffff;
  --snd-apl-clr-border-sz: 1;
  --snd-apl-op-color: #ffffff;
  --snd-apl-op-bn-br: #0074d9;
  --snd-apl-op-clr-border: #0074d9;
  --snd-apl-tx-op: #ffffff;
  --snd-apl-color: #ffffff;
  --snd-apl-clr-border: #ffffff;
  --snd-apl-bn-br: #ffffff;
  --snd-apl-tx: #ff00ff;
  --snd-apl-bn-br-sz: 1;
  --snd-apl-bg: #111111;
  --snd-apl-bn-tx-op: #ffffff;
  --snd-apl-bn: #0074d9;
  --prm-apl-bn-tx: #ffffff;
  --prm-apl-op-bn: #005bae;
  --prm-apl-bg-op: #ffffff;
  --prm-apl-clr-border-sz: 1;
  --prm-apl-op-color: #ffffff;
  --prm-apl-op-bn-br: #0074d9;
  --prm-apl-op-clr-border: #0074d9;
  --prm-apl-tx-op: #0000ff;
  --prm-apl-color: #0074d9;
  --prm-apl-clr-border: #ffffff;
  --prm-apl-bn-br: #ffffff;
  --prm-apl-tx: #7fdbff;
  --prm-apl-bn-br-sz: 1;
  --prm-apl-bg: #111111;
  --prm-apl-bn-tx-op: #ffffff;
  --prm-apl-bn: #ff851b;
  --transparent_button-apl-bn-tx: #001f3f;
  --transparent_button-apl-op-bn: ;
  --transparent_button-apl-bg-op: #7fdbff;
  --transparent_button-apl-clr-border-sz: 0;
  --transparent_button-apl-op-color: #85144b;
  --transparent_button-apl-op-bn-br: ;
  --transparent_button-apl-op-clr-border: ;
  --transparent_button-apl-tx-op: #01ff70;
  --transparent_button-apl-color: #ff1f3f;
  --transparent_button-apl-clr-border: ;
  --transparent_button-apl-bn-br: #ffffff;
  --transparent_button-apl-tx: #001f3f;
  --transparent_button-apl-bn-br-sz: 0;
  --transparent_button-apl-bg: #111111;
  --transparent_button-apl-bn-tx-op: ;
  --transparent_button-apl-bn: ;
}
[data-alignment="center"] {
  text-align: center;
}
[data-alignment="right"] {
  text-align: right;
}
[data-alignment="left"] {
  text-align: left;
}
und {
  text-decoration: underline;
}
mid {
  text-decoration: line-through;
}
ovl {
  text-align: overline;
}
bold {
  font-weight: bold;
}
italic {
  font-style: italic;
}
body #themes-list-page-app {
  font-family: inherit;
}
body .cmp-container * {
  font-family: lato_regular;
}
.default-txt-1 {
  font-size: 1px;
}
.lato_regular-txt-1 {
  font-size: 1px;
}
.th-spacing-top-1 {
  margin-top: 1rem;
}
.th-spacing-top-2 {
  margin-top: 2rem;
}
.th-spacing-top-3 {
  margin-top: 3rem;
}
.th-spacing-top-4 {
  margin-top: 4rem;
}
.th-spacing-top-5 {
  margin-top: 5rem;
}
.th-spacing-bottom-1 {
  margin-bottom: 1rem;
}
.th-spacing-bottom-2 {
  margin-bottom: 2rem;
}
.th-spacing-bottom-3 {
  margin-bottom: 3rem;
}
.th-spacing-bottom-4 {
  margin-bottom: 4rem;
}
.th-spacing-bottom-5 {
  margin-bottom: 5rem;
}
.primary {
  /* Template not found */
}
.secondary {
  /* Template not found */
}
.first .acc-button {
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  width: fit-content;
  background-color: #0074D9;
  color: #ffffff;
  border-radius: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
}
.first .acc-button:hover {
  text-decoration: none;
  background-color: #7FDBFF;
}
.first .acc-button:active {
  color: white;
}
.first .acc-button__link-wrapper {
  padding: 4px 10px;
}
.second .acc-button {
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  width: fit-content;
  background-color: #001F3F;
  color: #7FDBFF;
  border-radius: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 8px;
  padding-right: 8px;
}
.second .acc-button:hover {
  text-decoration: none;
  color: #85144B;
}
.second .acc-button:active {
  background-color: #0074D9;
  color: white;
}
.second .acc-button__link-wrapper {
  padding: 6px 8px;
}
/* stylelint-enable */