/* stylelint-disable */
:root {
  --prm-primary_700: #e76a00;
  --prm-primary_600: #f26d00;
  --prm-primary_500: #f5821f;
  --prm-primary_400: #faa362;
  --prm-primary_300: #f9b788;
  --prm-primary_200: #f9caaa;
  --prm-primary_100: #faddc9;
  --snd-secondary_700: #401242;
  --snd-secondary_600: #48074b;
  --snd-secondary_500: #661c69;
  --snd-secondary_400: #831e8a;
  --snd-secondary_300: #c457cd;
  --snd-secondary_200: #f5d2fc;
  --snd-secondary_100: #fdf4ff;
  --grey-black: #000000;
  --grey-grey_800: #080808;
  --grey-grey_700: #1b1c1c;
  --grey-grey_600: #515254;
  --grey-grey_500: #808285;
  --grey-grey_400: #b7b9bb;
  --grey-grey_300: #d8d8d8;
  --grey-grey_200: #ececec;
  --grey-grey_100: #f4f6f9;
  --grey-white: #ffffff;
  --backgrounds-general: #f4f6f9;
  --header-background: #661c69;
  --header-foreground: #ffffff;
}
und {
  text-decoration: underline;
}
mid {
  text-decoration: line-through;
}
ovl {
  text-align: overline;
}
bold {
  font-weight: bold;
}
italic {
  font-style: italic;
}
/* Typography Styles */
.text-headline-1,
h1 {
  font-family: open_sans;
  font-size: 47px;
  font-weight: 700;
  line-height: 54.0px;
  color: var(--grey-black);
}
@media (max-width: 1024px) {
  .text-headline-1--tablet {
    font-family: open_sans;
    font-size: 47px;
    font-weight: 700;
    line-height: 54.0px;
    color: var(--grey-black);
  }
}
@media (max-width: 768px) {
  .text-headline-1--mobile {
    font-family: open_sans;
    font-size: 47px;
    font-weight: 700;
    line-height: 54.0px;
    color: var(--grey-black);
  }
}
.text-headline-2,
h2 {
  font-family: open_sans;
  font-size: 39px;
  font-weight: 700;
  line-height: 45.0px;
  color: var(--grey-black);
}
@media (max-width: 1024px) {
  .text-headline-2--tablet {
    font-family: open_sans;
    font-size: 39px;
    font-weight: 700;
    line-height: 45.0px;
    color: var(--grey-black);
  }
}
@media (max-width: 768px) {
  .text-headline-2--mobile {
    font-family: open_sans;
    font-size: 39px;
    font-weight: 700;
    line-height: 45.0px;
    color: var(--grey-black);
  }
}
.text-headline-3,
h3 {
  font-family: open_sans;
  font-size: 27px;
  font-weight: 700;
  color: var(--grey-black);
}
@media (max-width: 1024px) {
  .text-headline-3--tablet {
    font-family: open_sans;
    font-size: 27px;
    font-weight: 700;
    color: var(--grey-black);
  }
}
@media (max-width: 768px) {
  .text-headline-3--mobile {
    font-family: open_sans;
    font-size: 27px;
    font-weight: 700;
    color: var(--grey-black);
  }
}
.text-h4-large-text,
h4 {
  font-family: open_sans;
  font-size: 23px;
  font-weight: 400;
  color: var(--grey-black);
}
@media (max-width: 1024px) {
  .text-h4-large-text--tablet {
    font-family: open_sans;
    font-size: 23px;
    font-weight: 400;
    color: var(--grey-black);
  }
}
@media (max-width: 768px) {
  .text-h4-large-text--mobile {
    font-family: open_sans;
    font-size: 23px;
    font-weight: 400;
    color: var(--grey-black);
  }
}
.text-medium-text {
  font-family: open_sans;
  font-size: 19px;
  line-height: 27.5px;
  color: var(--grey-black);
}
@media (max-width: 1024px) {
  .text-medium-text--tablet {
    font-family: open_sans;
    font-size: 19px;
    line-height: 27.5px;
    color: var(--grey-black);
  }
}
@media (max-width: 768px) {
  .text-medium-text--mobile {
    font-family: open_sans;
    font-size: 19px;
    line-height: 27.5px;
    color: var(--grey-black);
  }
}
.text-paragraph,
p {
  font-family: open_sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24.0px;
  color: var(--grey-black);
}
@media (max-width: 1024px) {
  .text-paragraph--tablet {
    font-family: open_sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24.0px;
    color: var(--grey-black);
  }
}
@media (max-width: 768px) {
  .text-paragraph--mobile {
    font-family: open_sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24.0px;
    color: var(--grey-black);
  }
}
.text-small-text {
  font-family: open_sans;
  font-size: 13px;
  font-weight: 600;
  color: var(--grey-black);
}
@media (max-width: 1024px) {
  .text-small-text--tablet {
    font-family: open_sans;
    font-size: 13px;
    font-weight: 600;
    color: var(--grey-black);
  }
}
@media (max-width: 768px) {
  .text-small-text--mobile {
    font-family: open_sans;
    font-size: 13px;
    font-weight: 600;
    color: var(--grey-black);
  }
}
.text-link {
  font-family: open_sans;
  font-size: 13px;
  font-weight: 500;
  color: var(--grey-black);
}
@media (max-width: 1024px) {
  .text-link--tablet {
    font-family: open_sans;
    font-size: 13px;
    font-weight: 500;
    color: var(--grey-black);
  }
}
@media (max-width: 768px) {
  .text-link--mobile {
    font-family: open_sans;
    font-size: 13px;
    font-weight: 500;
    color: var(--grey-black);
  }
}
.text-button-text {
  font-family: open_sans;
  font-size: 19px;
  font-weight: 700;
  line-height: 23.0px;
}
@media (max-width: 1024px) {
  .text-button-text--tablet {
    font-family: open_sans;
    font-size: 19px;
    font-weight: 700;
    line-height: 23.0px;
  }
}
@media (max-width: 768px) {
  .text-button-text--mobile {
    font-family: open_sans;
    font-size: 19px;
    font-weight: 700;
    line-height: 23.0px;
  }
}
.orange .acc-button--link {
  box-sizing: border-box;
  width: fit-content;
  height: 100%;
  display: block;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  background-color: var(--prm-primary_600);
  color: var(--grey-white);
  border-radius: 48px;
  border-style: solid;
  border-width: 0px
                0px
                0px
                0px;
  border-color: transparent;
  /* reserve space to prevent layout shift */
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
}
.orange .acc-button--link:hover {
  text-decoration: none;
  color: var(--grey-white);
  background-color: var(--prm-primary_500);
}
.purple .acc-button--link {
  box-sizing: border-box;
  width: fit-content;
  height: 100%;
  display: block;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  background-color: var(--snd-secondary_500);
  color: var(--grey-white);
  border-radius: 48px;
  border-style: solid;
  border-width: 0px
                0px
                0px
                0px;
  border-color: transparent;
  /* reserve space to prevent layout shift */
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
}
.purple .acc-button--link:hover {
  text-decoration: none;
  color: var(--grey-white);
  background-color: var(--snd-secondary_600);
}
.black .acc-button--link {
  box-sizing: border-box;
  width: fit-content;
  height: 100%;
  display: block;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  background-color: var(--grey-grey_700);
  color: var(--grey-white);
  border-radius: 48px;
  border-style: solid;
  border-width: 0px
                0px
                0px
                0px;
  border-color: transparent;
  /* reserve space to prevent layout shift */
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
}
.black .acc-button--link:hover {
  text-decoration: none;
  color: var(--grey-white);
  background-color: var(--grey-grey_800);
}
.white-outline .acc-button--link {
  box-sizing: border-box;
  width: fit-content;
  height: 100%;
  display: block;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  background-color: var(--grey-white);
  color: var(--grey-grey_700);
  border-radius: 48px;
  border-style: solid;
  border-width: 2px
                2px
                2px
                2px;
  border-color: transparent;
  /* reserve space to prevent layout shift */
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
}
.white-outline .acc-button--link::after {
  content: '';
  position: absolute;
  inset: 0;
  border-style: solid;
  border-radius: inherit;
  pointer-events: none;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-color: var(--grey-grey_700);
  border-right-color: var(--grey-grey_700);
  border-bottom-color: var(--grey-grey_700);
  border-left-color: var(--grey-grey_700);
}
.white-outline .acc-button--link:hover {
  text-decoration: none;
  color: var(--grey-grey_700);
  background-color: var(--grey-white);
}
.white-outline .acc-button--link:hover::after {
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
}
.white .acc-button--link {
  box-sizing: border-box;
  width: fit-content;
  height: 100%;
  display: block;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  background-color: var(--grey-white);
  color: var(--grey-grey_700);
  border-radius: 48px;
  border-style: solid;
  border-width: 0px
                0px
                0px
                0px;
  border-color: transparent;
  /* reserve space to prevent layout shift */
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
}
.white .acc-button--link:hover {
  text-decoration: none;
  color: var(--grey-grey_700);
  background-color: var(--grey-grey_100);
}
.outline .acc-button--link {
  box-sizing: border-box;
  width: fit-content;
  height: 100%;
  display: block;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  color: var(--grey-white);
  border-radius: 48px;
  border-style: solid;
  border-width: 0px
                0px
                0px
                0px;
  border-color: transparent;
  /* reserve space to prevent layout shift */
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
}
.outline .acc-button--link::after {
  content: '';
  position: absolute;
  inset: 0;
  border-style: solid;
  border-radius: inherit;
  pointer-events: none;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-color: var(--grey-white);
  border-right-color: var(--grey-white);
  border-bottom-color: var(--grey-white);
  border-left-color: var(--grey-white);
}
.outline .acc-button--link:hover {
  text-decoration: none;
  color: var(--grey-white);
}

/* stylelint-enable */